@model FitForLife.Web.ViewModels.Trainers.TrainerViewModel

@{ 
    ViewData["Title"] = "Details";
}
<div class="container portfolio">
    <div class="row">
        <div class="col-md-12">
            <div class="heading">
                <img src="/img/219812954_817654992459356_507134075117973197_n.png" />
            </div>
        </div>
    </div>
    <div class="bio-info">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="img-fluid">
                            <img src="@Model.ProfilePictureUrl" alt="image" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="bio-content">
                    <h1>Hi there, I'm @Model.FirstName @Model.LastName</h1>
                    <h6>@Model.Description</h6>
                    <p>Become a soldier of the @Model.FirstName Army</p>
                    <form asp-action="AddUserToTrainer" asp-controller="Trainers" method="post">
                        <input type="text" name="trainerId" value="@Model.Id" hidden />
                        <button type="submit" class="btn btn-primary rounded-pill text-black btn-md border-0">
                            Join!
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>