
<link href="~/css/Calendar.css" rel="stylesheet" />
<script src="~/js/Calendar.js"></script>
<!------ Include the above in your HEAD tag ---------->

@model FitForLife.Web.ViewModels.Events.AllEventsViewModel
<div class="container">
    <h1 class="title text-center"> @DateTime.UtcNow.ToString("M") </h1>
    <div class="calendar" data-toggle="calendar">
        <div class="row">
            @for (int i = 0; i < 7; i++)
            {
                 <div class="col-xs-12 calendar-day">
                 <time datetime="@DateTime.UtcNow.AddDays(i).ToString("d")">@DateTime.UtcNow.AddDays(i).Day</time>
                    @foreach (var @events in Model.Events)
                        {
                            if (@events.StartEvent.Date == @DateTime.UtcNow.AddDays(i).Date)
                            {
                                <partial name="_Event" for="@events" />}
                            }
                 </div>
             }
        </div>
        <div class="row">
            @for (int i = 7; i < 14; i++)
            {
             <div class="col-xs-12 calendar-day">
                <time datetime="@DateTime.UtcNow.AddDays(i).ToString("d")">@DateTime.UtcNow.AddDays(i).Day</time>
                @foreach (var @events in Model.Events)
                {
                    if (@events.StartEvent.Date == @DateTime.UtcNow.AddDays(i).Date)
                    {
                       <partial name="_Event" for="@events" />}
                    }
            </div>
             }
        </div>
        <div class="row">
            @for (int i = 14; i < 21; i++)
             {
                <div class="col-xs-12 calendar-day">
                <time datetime="@DateTime.UtcNow.AddDays(i).ToString("d")">@DateTime.UtcNow.AddDays(i).Day</time>
                    @foreach (var @events in Model.Events)
                    {
                        if (@events.StartEvent.Date == @DateTime.UtcNow.AddDays(i).Date)
                        {
                            <partial name="_Event" for="@events" />}
                        }
                </div>  
             }
        </div>
        <div class="row">
            @for (int i = 21; i < 28; i++)
             {
             <div class="col-xs-12 calendar-day">
                <time datetime="@DateTime.UtcNow.AddDays(i).ToString("d")">@DateTime.UtcNow.AddDays(i).Day</time>
                @foreach (var @events in Model.Events)
                {
                    if (@events.StartEvent.Date == @DateTime.UtcNow.AddDays(i).Date)
                    {
                    <partial name="_Event" for="@events" />
                    }
                 }
            </div>
             }
        </div>
        <div class="row">
            @for (int i = 28; i < 35; i++)
            {
             <div class="col-xs-12 calendar-day">
                    <time datetime="@DateTime.UtcNow.AddDays(i).ToString("d")">@DateTime.UtcNow.AddDays(i).Day</time>
                    @foreach (var @events in Model.Events)
                    {
                        if (@events.StartEvent.Date == @DateTime.UtcNow.AddDays(i).Date)
                        {
                            <partial name="_Event" for="@events" />
                        }
                     }
            </div>
            }
        </div>
    </div>
    <p class="text-center">No this is not a working calendar. It is purely for design. You are more than welcome to make it work, I sure am!</p>
</div>